html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-container {
    display: flex;
    justify-content: center;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-choice-container,
.computer-choice-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.message-container {
    display: flex;
    justify-content: center;
}

.scores {
    display: flex;
    justify-content: center;
}

.player-score-container,
.computer-score-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.final-message-container {
    display: flex;
    justify-content: center;
}

* {
    text-align: center;
}